postgresql: &postgresql
  adapter: postgresql
  host: {{ db_host }}
  port: {{ db_port }}
  username: {{ db_user }}
  password: {{ db_password }}
  encoding: unicode

mysql: &mysql
  adapter: mysql2
  host: "{{ db_host }}"
  port: {{ db_port }}
  username: "{{ db_user }}"
  password: "{{ db_password }}"
{% if db_socket is defined %}
  socket: {{ db_socket }}
{% else %}
  # socket: /var/run/mysqld/mysqld.sock
{% endif %}
  encoding: utf8mb4
  collation: utf8mb4_bin

# Comment the the mysql line and uncomment the postgres line
# if you want to use postgres
common: &common
  # Choose one of the following
{% if db_type == 'postgresql' %}
  <<: *postgresql
  #<<: *mysql
{% endif %}
{% if db_type == 'mysql' %}
  #<<: *postgresql
  <<: *mysql
{% endif %}

  # Should match environment.sidekiq.concurrency
  pool: {{ db_pool }}

##################################################
#### CONFIGURE ABOVE #############################
##################################################

# Normally you don't need to touch anything here

combined: &combined
  <<: *common
development:
  <<: *combined
  database: diaspora_development
production:
  <<: *combined
  database: {{ db_name }}
test:
  <<: *combined
  database: "diaspora_test"
integration1:
  <<: *combined
  database: diaspora_integration1
integration2:
  <<: *combined
  database: diaspora_integration2
