# DO NOT TOUCH - maintained by Ansible
# If you need local overrides, use environment variables as per:
# https://github.com/diaspora/diaspora/blob/develop/config/diaspora.yml.example#L15

{{ diaspora_yml | to_yaml }}
