# {{ servicename }}

description "{{ servicename }}"
author "Jason Robinson <mail@jasonrobinson.me>"

start on runlevel [2345]
stop on starting rc RUNLEVEL=[016]

respawn
respawn limit 2 5

limit nofile 50000 50000

script
    {{ diaspora_home }}/start_server.sh
end script

pre-stop exec /usr/bin/killall -u {{ os_user }} ruby; sleep 10
